<div class="input-group search">
  <span class="input-group-addon" id="searchbox"> <span class="fa fa-search"></span></span>
  <input
    type="text"
    class="form-control"
    placeholder="Nombre producto"
    aria-describedby="searchbox"
    ng-model="vm.searchTerm">
  </input>
   <span class="input-group-addon" ng-click="vm.refresh()"> <span class="fa fa-repeat"></span>
</div>
<tabset>
    <tab heading="All" ng-click="vm.getProducts()">
      <div ng-include="'app/productsPanel/partials/productsList.html'"></div>
    </tab>
    <tab heading="Featured" ng-click="vm.getProductsFilter('featured')">
      <div ng-include="'app/productsPanel/partials/productsList.html'"></div>
    </tab>
    <tab heading="On Sale" ng-click="vm.getProductsFilter('onSale')">
      <div ng-include="'app/productsPanel/partials/productsList.html'"></div>
    </tab>
</tabset>
