<tabset>
    <tab heading="All">
    <div class="input-group">
      <span class="input-group-addon" id="searchbox">buscar:</span>
      <input
        type="text"
        class="form-control"
        placeholder="nombre producto"
        aria-describedby="searchbox"
        ng-model="vm.searchTerm"
        ng-change="vm.search()">
    </div>
      <div>
        <ul class="striped">
          <li class="simple" ng-repeat="p in vm.products">
            <div class="item row">
                <div class="col-md-3 img">
                  <img ng-src="{{p.image}}" title="#25">
                </div>
                <div class="title col-md-4">
                  <strong>{{p.name}}</strong>
                </div>
                <div class="col-md-2 price">
                  {{p.price}}
                </div>
                <div class="col-md-2 action">
                  <span ng-click="vm.addToCart(p._id)">
                    <i class="fa fa-plus-circle fa-2x"></i>
                  </span>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </tab>
    <tab heading="Featured" select="vm.getProductsFilter('featured')">
    </tab>
    <tab heading="On Sale" select="vm.getProductsFilter('onSale')">
    </tab>
</tabset>
