<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <products-panel></products-panel>
    </div>
    <div class="col-xs-12 col-md-6 cart" ng-if="!mc.checkout">
      <cart-panel></cart-panel>
      <div id="cart_footer">
        <button type="button" class="btn btn-danger" ng-click="cp.voidCart()">Void</button>
        <button type="button" class="btn btn-success" ng-click="mc.togglePanel()">Checkout</button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cart" ng-if="mc.checkout">
      <checkout-panel></checkout-panel>
    </div>
  </div>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy the lonely hearts</p>
    </div>
</footer>
