<div class="panel panel-default checkout-header">
  <div class="text-center panel-body">
    <div>
      <h1>To pay: $ {{cc.getTotalCheck() | number: 2}}</h1>
    </div>
    <div class="changeCheckout">
     <h2>Change: $ {{cc.getChangeCheck() | number: 2}}</h2>
   </div>
 </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading paypal-header" ng-click="cc.dissmissPaypal()">
    <h4 class="">PayPal</h4>
  </div>
  <div class="panel-body" ng-hide="cc.hidePaypal">
    <h4 class="">todo: pay with paypal here</h4>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading cashPanel" ng-click="cc.dissmissCash()">
      <h4>Cash:</h4>
  </div>
  <div class= "panel-body" ng-hide="cc.hideCash">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Amount tendered:</span>
      <span class="input-group-addon">$</span>
      <input
        name="cc.changeClient"
        type="number"
        step="any"
        class="form-control"
        ng-model="cc.changeClient"
        typeahead-editable="false"
        placeholder="0.00"
        ng-change="cc.getChangeCheck()"
      >
    </div>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading card-header" ng-click="cc.dissmissCard()">  
    <h4>
      Card:
    </h4>
  </div>
  <div class="panel-body low-padding none-margin" ng-hide="cc.hideCard">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Number:</span>
      <span class="input-group-addon">#</span>
      <input
      name="cc.cardClient"
      type="number"
      step="any"
      class="form-control"
      ng-model="cc.cardClient"
      typeahead-editable="false"
      placeholder="0"
      ng-change=""
      >
    </div>
  </div>
</div>
<div class="white-background low-padding none-margin">
  <button class="btn btn-default" ng-click="mc.togglePanel()">Return to sale</button>
  <button class="btn btn-success btn-right" ng-click="cc.paymentProcess()">Process payment</button>
</div>
