.checkbody{
  background-color: @color3;
}
.chspan{
  color: white;
  float:center;
}
.paypal{
	color:@color3;
	font-weight: bold;
}

.cashbody{
  background-color: @color4;
  border-color: @color4;
}