<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th data-field="id" class="col-md-2">Qty</th>
        <th data-field="name" class="col-md-4">Product</th>
        <th data-field="price" class="col-md-2">Price</th>
        <th data-field="total" class="col-md-3">Total</th>
        <th data-field="remove" class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in cp.cart.items">

        <td>
            <div class="quantity-item"  popover-template="'app/cartPanel/partials/kposPopover.html'" popover-trigger="click"  >{{i.quantity}} </div>
        </td>
        <td>{{i.name}}</td>
        <td>
          <div class="price-item">{{i.price}}</div>
        </td>
        <td class="total-item">$ {{(i.price * i.quantity) | number: 2}}</td>
        <td>
          <span ng-click="cp.removeItemCart(i._id)">
            <i class="fa fa-times-circle fa-2x"></i>
          </span>
        </td>
      </tr>
      <tr ng-if="cp.cart.discounts && cp.cart.discounts.length>0">
        <td colspan="5" class="discounts">
          DISCOUNTS
        </td>
      </tr>
      <tr ng-repeat="d in cp.cart.discounts">
        <td>
          <div class="quantity-item">{{d.quantity}}</div>
        </td>
        <td>{{d.name}}</td>
        <td>
          <div class="price-item"> {{d.value | number: 2}} <span ng-if="d.type=='percent'">%</span></div>
        </td>
        <td class="total-item">{{d.quantity*d.value | number: 2}}</td>
      </tr>
    </tbody>
    <tfoot >
      <tr align="right">
        <td colspan="3">Cart Subtotal</td>
        <td><span ng-bind="cp.getSubTotal(cp.cart.items)"></span>
        </td>
      </tr>
      <tr align="right">
        <td colspan="3">Tax {{cp.cart.tax}} %</td><td>{{cp.totalTax() | number: 2}}</td>
      </tr>
      <tr align="right">
        <td colspan="3"><h3>Order Total</h3></td><td><h3>{{cp.totalCart() | number: 2}}</h3></td>
      </tr>
    </tfoot>
  </table>
</div>
<hr/>
<div class="panel panel-default" id="client_section" >
  <div class="panel-heading">
    <table  >
      <tr>
        <th class="col-xs-2 col-sm-2 col-md-2 ">Client:
        </th>
        <td class="col-xs-6 col-sm-8 col-md-7 ">
          <input type="text"
                class="form-control"
                ng-model="selectedClient"
                no-results="cp.defaultClient"
                typeahead-editable="false"
                typeahead="c.name for c in cp.searchClient($viewValue)"
                typeahead-on-select="cp.changeClient($item, $model, $label)"
                placeholder="Consumidor Final"
                ng-keyup="cp.voidClient(selectedClient)"
            >
        </td>
        <td class="col-xs-4 col-sm-2 col-md-3">
        <button class="btn btn-success" type="button" ng-click="cp.newClientModal()">New Client</button></td>
      </tr>
    </table>


  </div>

  <div ng-if="cp.cart.client._id!='default'" class="animate-if">
    <table  data-response-handler="responseHandler">
      <tr>
        <th data-field="dni" class="col-xs-3 col-sm-2 col-md-2">DNI:</th>
        <td class="col-xs-9 col-sm-10 col-md-10">{{cp.cart.client.dni}}</td>
      </tr>
      <tr>
        <th data-field="name"  class="col-xs-3 col-sm-2 col-md-2">Name:</th>
        <td class="col-xs-9 col-sm-10 col-md-10">{{cp.cart.client.name}}</td>
      </tr>
      <tr>
        <th data-field="address"  class="col-xs-3 col-sm-2 col-md-2">Address:</th>
        <td class="col-xs-9 col-sm-10 col-md-10">{{cp.cart.client.address}}</td>
      </tr>
    </table>
  </div>


</div>



<div class="panel-client " dropdown keyboard-nav on-toggle="cp.getDiscountsDropdown(open)">

  <button id="discounts-button" type="button" class="btn btn-success" dropdown-toggle>
    Add Discounts <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="discounts-button">
    <li role="menuitem" ng-repeat="discount in cp.discounts">
      <a href="" ng-click="cp.applyDiscount(discount._id)">{{discount.name}}</a>
    </li>
  </ul>
  <div class="input-group">

    <span class="input-group-addon" id="coupon">coupon:</span>
    <input
        type="text"
        class="form-control"
        placeholder="claim coupon"
        ng-model="cp.selectedCoupon"
        aria-describedby="coupon">

    <span class="input-group-btn">
      <button class="btn btn-success" type="button" ng-click="cp.applyCoupon()">Apply</button>
    </span>
  </div>

</div>
<hr/>
<div id="cart_footer">
    <button type="button" class="btn btn-danger" ng-click="cp.voidCart()">Void</button>
    <button type="button" class="btn btn-success" ng-click="cp.checkoutCartModal()">Checkout</button>
</div>
