<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
        <th data-field="id" class="col-md-2">Qty</th>
        <th data-field="name" class="col-md-5">Product</th>
        <th data-field="price" class="col-md-2">Price</th>
        <th data-field="price" class="col-md-3">Total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="i in cp.cart.items">
            <td>
                <div class="quantity-item">{{i.quantity}}</div>
            </td>
    		<td>{{i.name}}</td>
            <td>
                <div class="price-item">{{i.price}}</div>
            </td>
            <td class="total-item">$ {{i.total}}</td>
            <td>
                <span ng-click="cp.removeItemCart(i._id)">
                    <i class="fa fa-times-circle fa-2x"></i>
                </span>
             </td>
    	</tr>
    	<tr ng-repeat="d in cp.cart.discounts">
    		<td></td>
    		<td>{{d.name}}</td>
        <td>{{d.value}} <span ng-if="d.type=='percent'">%</span></td>
    		<td>{{d.total}}</td>
    	</tr>
    </tbody>
    <tfoot >
    	<tr align="right">
    		<td colspan="3">Cart Subtotal</td><td>{{cp.cart.subtotal}}</td>
    	</tr>
    	<tr align="right">
    		<td colspan="3">Tax</td><td>{{cp.cart.tax}}</td>
    	</tr>
    	<tr align="right">
    		<td colspan="3"><h3>Order Total</h3></td><td><h3>{{cp.cart.total}}</h3></td>
    	</tr>
    </tfoot>
  </table>
</div>
<hr/>
<div id="client_section">
  <div class="form-group">
    <label for="client">Client</label>
    <div class="input-group">
      <input type="text"
           class="form-control"
           ng-model="selectedClient"
           no-results="cp.defaultClient"
           typeahead-editable="false"
           typeahead="c.name for c in cp.searchClient($viewValue)"
           typeahead-on-select="cp.changeClient($item, $model, $label)"
           placeholder="Consumidor Final">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="cp.newClientModal()">Crear</button>
      </span>
    </div>
  </div>

    <div class="panel panel-info">
  <div class="panel-heading">
    Client
  </div>
  <div class="panel-body">
  <table class="table">
    <tr>
      <td class="info">Name: </td><td>{{cp.cart.client.name}}</td>
      <td class="info">Id: </td><td>{{cp.cart.client.id}}</td>
    </tr>
     <tr>
      <td class="info">Address: </td><td>{{cp.cart.client.address}}</td>
    </tr>
  </table>
  </div>
  </div>
</div>
<hr/>
<div id="discount_section">
  <div class="btn-group" dropdown keyboard-nav on-toggle="cp.getDiscountsDropdown(open)">
    <button id="discounts-button" type="button" class="btn btn-success" dropdown-toggle>
      Agregar Descuentos <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="discounts-button">
      <li role="menuitem" ng-repeat="discount in cp.discounts"><a href="#">{{discount.name}}</a></li>
    </ul>
    <div class="input-group">
      <span class="input-group-addon" id="coupon">coupon:</span>
      <input type="text" class="form-control" placeholder="claim coupon" aria-describedby="coupon">
    </div>
  </div>
  <!--div class="btn-group">
    <span class="input-group-addon" id="coupon">coupon</span>
    <input type="text" class="form-control" placeholder="claim coupon" aria-describedby="coupon">
  </div-->
</div>

