<div class="table-responsive">
  <table class="table">
    <thead >
      <tr>
        <th data-field="id" class="col-md-2 text-center">Qty</th>
        <th data-field="name" class="col-md-4">Product</th>
        <th data-field="price" class="col-md-2 text-center">Price</th>
        <th data-field="total" class="col-md-3 text-right">Total</th>
        <th data-field="remove" class="col-md-1"></th>
      </tr>
    </thead>
    <tbody class="client-data">
      <tr ng-repeat="i in c.cart.items">
        <td class="text-center">
          <div class="quantity-item" ng-if="!flag">{{i.quantity}}</div>
          <div class="quantity-item" ng-if="flag" popover-template="'app/cartPanel/partials/kposPopover.html'" popover-trigger="click">{{i.quantity}} </div>
        </td>
        <td>{{i.name}}</td>
        <td>
          <div class="price-item">{{i.price}}</div>
        </td>
        <td class="total-item">$ {{(i.price * i.quantity) | number: 2}}</td>
        <td>
          <div ng-if="flag">
            <span ng-click="remove({productId: i._id})">
              <i class="fa fa-times-circle fa-2x"></i>
            </span>
          </div>
        </td>
      </tr>
      <tr ng-if="c.cart.discounts && c.cart.discounts.length>0">
        <td colspan="5" class="discounts">
          DISCOUNTS
        </td>
      </tr>
      <tr ng-repeat="d in c.cart.discounts">
        <td>
          <div class="quantity-item">{{d.quantity}}</div>
        </td>
        <td>{{d.name}}</td>
        <td>
          <div class="price-item"> {{d.value | number: 2}} <span ng-if="d.type=='percent'">%</span></div>
        </td>
        <td class="total-item">{{d.quantity*d.value | number: 2}}</td>
        <td></td>
      </tr>
    </tbody>
    <tfoot class="client-data" >
      <tr align="right">
        <td colspan="3">Cart Subtotal</td>
        <td><span ng-bind="c.getSubTotal(cart.items)"></span>
        </td>
        <td></td>
      </tr>
      <tr align="right">
        <td colspan="3">Tax {{cart.tax}} %</td><td>{{c.totalTax() | number: 2}}</td>
        <td></td>
      </tr>
      <tr align="right">
        <td colspan="3"><h3>Order Total</h3></td><td><h3>{{c.totalCart() | number: 2}}</h3></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>